{% extends "main/main.html" %}
{% block menu %}
<style>
    #tdb {
        background-color: brown;
    }
</style>
{{block.super}}
{% endblock %}
{% block content %}

<body>
    <form method="post" action="">
        {% csrf_token %}
        <button type="submit" name="close_all">
            Close all
        </button>
    </form>
    <table>
        <tr>
            <th class="firstcol">Name</th>
            <th>port</th>
        </tr>
        {% if TDBs %}
        <ul>
            {% for TDB in TDBs %}
            <tr>
                <td class="firstcol">
                    <a href="//{{TDB.link}}" target='_blank'>
                        <div class="menu">
                            {{TDB.name|safe}}
                        </div>
                    </a>
                    </button>
                </td>
                <td>{{TDB.port}}</td>
            </tr>
            {% endfor %}
        </ul>
        {% endif %}
    </table>
    
</body>
{% endblock %}